@import "tailwindcss";

@theme {
  --color-texans-blue: #03202F;
  --color-texans-red: #A71930;
  --font-family-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-family-inter);
  background-color: #f8fafc;
}
